*{
	background-color: black;
	font-family: arial;
	color: white;
}
div{
	border:solid white;
	margin-bottom:1%;
	padding:1%;
	text-align: center;
}
span{
	padding:auto;
	text-align: center;
	margin:auto;
	border:solid blue;
}